<!--
1. catkin_make
2. catkin_make imega_arduino_firmware_hello-upload
3. roslaunch mars_nav main.launch
-->

<launch>

  <!-- Run camera and detection software -->
  <include file="$(find mars_detect)/launch/stag_detect.launch" />

  <!-- Run communication with Arduino -->
  <include file="$(find mars_nav)/launch/rosserial.launch" />

  <!-- Run GPS node -->
  <include file="$(find gps_module)/launch/gps_loc.launch" />

  <!-- Run Navigation commander -->
  <node name="mars_nav" pkg="mars_nav" type="commander.py" output="screen" required="true" />

  <!-- Run battery and bumpers -->
  <node name="bot_firmware" pkg="mars_nav" type="bot_firmware.py" output="screen" required="true" />

</launch>
