<launch>

    <!--Start Stag Node-->
    <node name="stag_detect" pkg="breadcrumb_detect" type="stag_detect" output="screen" required="true">
        <!-- Place the correct yaml file here-->
        <rosparam command="load" file="$(find breadcrumb_detect)/cfg/single.yaml"/>
        <!-- Place the correct bundle file here-->
        <rosparam command="load" file="$(find breadcrumb_detect)/cfg/single_config.yaml"/>
    </node>

</launch>
