<launch>

    <include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch" >
	<arg name="camera_frame_id" value="raspicam_sensor"/>
    </include>

    <!--Start Stag Node-->
    <node name="mars_detect" pkg="mars_detect" type="mars_detect" output="screen" required="true">
        <!-- Place the correct yaml file here-->
        <rosparam command="load" file="$(find mars_detect)/cfg/single.yaml"/>
        <!-- Place the correct bundle file here-->
        <rosparam command="load" file="$(find mars_detect)/cfg/single_config.yaml"/>
    </node>

</launch>
